# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Node
frontend/node_modules/
frontend/dist/

# IDE
.vscode/

# Data
data/
data/uploads/
!data/uploads/.gitkeep

tools/src/dssp/build-msys/


tools/src/dssp_backup/
tools/src/stride_backup/
